In [1]:
import pandas as pd
file_path = '/Users/manishghoshal/Downloads/DS - Python + SQL + ETL - Healthcare Census (4)/DS - Python + SQL + ETL - Healthcare Census/Data/census_2011.csv'

In [2]:
census_data = pd.read_csv(file_path)

In [3]:
relevant_columns = [
    'State name', 'District name', 'Population', 'Male', 'Female',
    'Literate', 'Male_Literate', 'Female_Literate',
    'Rural_Households', 'Urban_Households', 'Households',
    'Age_Group_0_29', 'Age_Group_30_49', 'Age_Group_50', 'Age not stated'
]

In [4]:
census_data = census_data[relevant_columns]
print(census_data)

                      State name              District name  Population
0              JAMMU AND KASHMIR                    Kupwara    870354.0  \
1              JAMMU AND KASHMIR                     Badgam    753745.0
2              JAMMU AND KASHMIR                Leh(Ladakh)    133487.0
3              JAMMU AND KASHMIR                     Kargil    140802.0
4              JAMMU AND KASHMIR                      Punch         NaN
..                           ...                        ...         ...
635                  PONDICHERRY                       Mahe     41816.0
636                  PONDICHERRY                   Karaikal    200222.0
637  ANDAMAN AND NICOBAR ISLANDS                   Nicobars     36842.0
638  ANDAMAN AND NICOBAR ISLANDS  North  AND Middle Andaman    105597.0
639  ANDAMAN AND NICOBAR ISLANDS              South Andaman         NaN

         Male    Female  Literate  Male_Literate  Female_Literate
0    474190.0  396164.0  439654.0       282823.0         156831.0  \
1         NaN  355704.0  335649.0       207741.0         127908.0
2     78971.0   54516.0   93770.0        62834.0          30936.0
3         NaN   63017.0       NaN        56301.0          29935.0
4    251899.0  224936.0  261724.0       163333.0          98391.0
..        ...       ...       ...            ...              ...
635   19143.0   22673.0   36470.0        16610.0          19860.0
636   97809.0  102413.0  154916.0        79903.0          75013.0
637   20727.0       NaN   25332.0        15397.0           9935.0
638   54861.0   50736.0   78683.0        43186.0          35497.0
639  127283.0  110859.0  190266.0       105794.0          84472.0

     Rural_Households  Urban_Households  Households  Age_Group_0_29
0            158438.0               NaN    181664.0        600759.0  \
1            160649.0           27190.0    187839.0        503223.0
2             36920.0           17474.0     54394.0         70703.0
3             40370.0            7774.0     48144.0         87532.0
4            132139.0           15269.0    147408.0        304979.0
..                ...               ...         ...             ...
635               0.0           12110.0     12110.0         19760.0
636           35618.0           33715.0     69333.0             NaN
637           15958.0               0.0     15958.0         18786.0
638           39091.0            1094.0     40185.0         57350.0
639           34901.0           50631.0     85532.0        128402.0

     Age_Group_30_49  Age_Group_50  Age not stated
0           178435.0       89679.0          1481.0
1           160933.0       88978.0           611.0
2            41515.0           NaN           250.0
3            35561.0       17488.0           221.0
4           109818.0       61334.0           704.0
..               ...           ...             ...
635              NaN        9428.0            85.0
636          60089.0           NaN           366.0
637          12088.0        5922.0            46.0
638          30741.0       17464.0            42.0
639          76332.0       33128.0           280.0

[640 rows x 15 columns]