In [5]:
import pandas as pd
import os

file_path_housing = '/Users/manishghoshal/Downloads/DS - Python + SQL + ETL - Healthcare Census (4)/DS - Python + SQL + ETL - Healthcare Census/Data/housing.csv'
housing_df = pd.read_csv(file_path_housing)

file_path_processed_census = '/Users/manishghoshal/Downloads/DS - Python + SQL + ETL - Healthcare Census (4)/DS - Python + SQL + ETL - Healthcare Census/Clean_Data/census.csv'
census_df = pd.read_csv(file_path_processed_census)

In [8]:
merged_df = pd.merge(left= housing_df, right=census_df, how ='left', left_on= 'District Name', right_on= 'District name')

In [9]:
merged_df['Households_Rural'] = merged_df['Total Number of households'] * (merged_df['Rural_Households'] / 100)
merged_df['Households_Urban'] = merged_df['Total Number of households'] * (merged_df['Urban_Households'] / 100)

merged_df['Households_Rural_Livable'] = merged_df['Households_Rural'] * (merged_df['Total Number of Livable'] / 100)
merged_df['Households_Urban_Livable'] = merged_df['Households_Urban'] * (merged_df['Total Number of Livable'] / 100)

merged_df['Households_Rural_Dilapidated'] = merged_df['Households_Rural'] * (merged_df['Total Number of Dilapidated'] / 100)
merged_df['Households_Urban_Dilapidated'] = merged_df['Households_Urban'] * (merged_df['Total Number of Dilapidated'] / 100)

merged_df['Households_Rural_Toilet_Premise'] = merged_df['Households_Rural'] * (merged_df['Latrine_premise'] / 100)
merged_df['Households_Urban_Toilet_Premise'] = merged_df['Households_Urban'] * (merged_df['Latrine_premise'] / 100)

In [11]:
result_df = merged_df[['District Name', 'Rural/Urban', 'Households_Rural', 'Households_Rural_Livable', 'Households_Rural_Dilapidated', 'Households_Rural_Toilet_Premise',
                        'Households_Urban', 'Households_Urban_Livable', 'Households_Urban_Dilapidated', 'Households_Urban_Toilet_Premise']]


result_df.columns = ['District', 'Rural/Urban', 'Households_Rural', 'Households_Rural_Livable', 'Households_Rural_Dilapidated', 'Households_Rural_Toilet_Premise',
                        'Households_Urban', 'Households_Urban_Livable', 'Households_Urban_Dilapidated', 'Households_Urban_Toilet_Premise']

In [12]:
result_df.to_csv('/Users/manishghoshal/Downloads/DS - Python + SQL + ETL - Healthcare Census (4)/DS - Python + SQL + ETL - Healthcare Census/Clean_Data/housing.csv', index=False)

In [13]:
result_df.head()

,District,Rural/Urban,Households_Rural,Households_Rural_Livable,Households_Rural_Dilapidated,Households_Rural_Toilet_Premise,Households_Urban,Households_Urban_Livable,Households_Urban_Dilapidated,Households_Urban_Toilet_Premise
0,Kupwara,Rural,158438.0,92052.478,13150.354,77476.182,NaN,NaN,NaN,NaN
1,Kupwara,Total,158438.0,90784.974,12516.602,80644.942,NaN,NaN,NaN,NaN
2,Kupwara,Urban,158438.0,78426.810,7605.024,111223.476,NaN,NaN,NaN,NaN
3,Badgam,Rural,160649.0,74380.487,6265.311,133820.617,27190.0,12588.97,1060.41,22649.27
4,Badgam,Total,160649.0,71810.103,6104.662,135427.107,27190.0,12153.93,1033.22,22921.17